* {
    margin: 0;
    padding: 0;
    color: red;
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(252, 246, 246, 0.5)), url("images/main-page.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

ul {
    float: right;
    margin: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 2px solid transparent;
    border-color: #fff;
    transition: 0.6s ease;
}

ul li a:hover {
    color: red;
    background-color: burlywood;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    font-family: 'harrington regular';
    font-size: 60px;
    color: #fcc;
}

.button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid black;
    text-decoration: none;
    border: 10px 30px;
    font-size: 25px;
    color: black;
    transition: 0.6s ease;
    padding-left: 5px;
    padding-right: 5px;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.name {
    position: absolute;
    top: 65%;
    left: 62%;
    font-family: 'viner hand ITC regular';
    font-size: 35px;
    color: black;
}

.context {
    position: absolute;
    font-family: 'viner hand ITC regular';
    top: 47%;
    left: 33%;
    color: black;
    font-size: 35px;
}